
h1{
   text-align: center;
   padding: 5px;
}

.container{
    margin: auto;
    max-width: 350px;
    min-height: 250px;
    border-radius: 10px;
    background-color: rgba(173, 216, 230, 0.514);
}

#inputs{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

#inputs input{
    margin: 5px 0px;
}